<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title><%= title %></title>
<link href="/css/base.css" rel="stylesheet" />

<link href="/css/component/card.css" rel="stylesheet" />
<link href="/css/component/table.css" rel="stylesheet" />
</head>
<body>

  <div id="wrapper">
    <div id="nav">
      <p class="title">51-Admin</p>
      <ul>
        <li><a href="/">首页</a></li>
        <li><a href="/page/demo">效果展示</a></li>
        <li><a href="/page/ticket">项目需求</a></li>
        <li><a href="/page/tool">功能操作</a></li>
      </ul>
    </div>

    <div id="bar">

    </div>

    <div id="content">
      <% for(i in comp) { %>
        <% options = comp.data || '' %>
        <%- include('component/'+comp[i].name, {data: options}); %>
      <% } %>
    </div>
  </div>

  </div>
</html>
