<div class="A table">
  <table>
    <tr>
      <th>工单号</th>
      <th>项目标题</th>
      <th>版本号</th>
      <th>产品人员</th>
      <th>开发人员</th>
      <th>分类</th>
      <th>状态</th>
      <th>操作</th>
    </tr>
    <tr>
      <td>2019032001</td>
      <td>愚人节H5页面</td>
      <td>---</td>
      <td>任君</td>
      <td>段祺炜</td>
      <td>活动推广</td>
      <td>已下发</td>
       <td><a href="#">查看</a><a href="#">编辑</a><a href="#">删除</a></td>
    </tr>
    <tr>
      <td>2019032001</td>
      <td>愚人节H5页面</td>
      <td>---</td>
      <td>任君</td>
      <td>段祺炜</td>
      <td>活动推广</td>
      <td>已下发</td>
       <td><a href="#">查看</a><a href="#">编辑</a><a href="#">删除</a></td>
    </tr>
    <tr>
      <td>2019032001</td>
      <td>愚人节H5页面</td>
      <td>---</td>
      <td>任君</td>
      <td>段祺炜</td>
      <td>活动推广</td>
      <td>已下发</td>
       <td><a href="#">查看</a><a href="#">编辑</a><a href="#">删除</a></td>
    </tr>
    <tr>
      <td>2019032001</td>
      <td>愚人节H5页面</td>
      <td>---</td>
      <td>任君</td>
      <td>段祺炜</td>
      <td>活动推广</td>
      <td>已下发</td>
       <td><a href="#">查看</a><a href="#">编辑</a><a href="#">删除</a></td>
    </tr>
    <tr>
      <td>2019032001</td>
      <td>愚人节H5页面</td>
      <td>---</td>
      <td>任君</td>
      <td>段祺炜</td>
      <td>活动推广</td>
      <td>已下发</td>
       <td><a href="#">查看</a><a href="#">编辑</a><a href="#">删除</a></td>
    </tr>
    <tr>
      <td>2019032001</td>
      <td>愚人节H5页面</td>
      <td>---</td>
      <td>任君</td>
      <td>段祺炜</td>
      <td>活动推广</td>
      <td>已下发</td>
       <td><a href="#">查看</a><a href="#">编辑</a><a href="#">删除</a></td>
    </tr>
    <tr>
      <td>2019032001</td>
      <td>愚人节H5页面</td>
      <td>---</td>
      <td>任君</td>
      <td>段祺炜</td>
      <td>活动推广</td>
      <td>已下发</td>
       <td><a href="#">查看</a><a href="#">编辑</a><a href="#">删除</a></td>
    </tr>
    <tr>
      <td>2019032001</td>
      <td>愚人节H5页面</td>
      <td>---</td>
      <td>任君</td>
      <td>段祺炜</td>
      <td>活动推广</td>
      <td>已下发</td>
       <td><a href="#">查看</a><a href="#">编辑</a><a href="#">删除</a></td>
    </tr>
  </table>
</div>
